<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>HorizontalSroll with transform mode | DragScroll</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <main class="container">
        <div class="drag-scroll drag-scroll__all">
            <ul>
                <% for (var i =1; i <=10;  i++ ) { %>
                <li class="item">
                    <a href="https://www.google.com/">
                        <img
                            src="https://images.unsplash.com/photo-1602881917760-7379db593981?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=80" />
                    </a>
                </li>
                <% } %>
            </ul>
        </div>
    </main>

    <script>
        window.addEventListener('load', () => {
            const $container = document.querySelector('.drag-scroll')
            new DragScroll({
                $container: $container,
                scrollMode: DragScroll.SCROLL_MODE.NATIVE
            });
        })
    </script>
</body>

</html>