.dragscroll-home {
    margin: 100px auto;
    max-width: 1000px;
}

.dragscroll-home #drag-scroll-demo ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
}

.dragscroll-home #drag-scroll-demo ul li {
    width: 200px;
    height: 200px;
    background-color: gray;
    flex-shrink: 0;
}

.dragscroll-home #drag-scroll-demo ul li:not(:last-child) {
    margin-right: 20px;
}

.dragscroll-home #drag-scroll-demo ul li img {
    width: 100%;
    height: 100%;
}