.drag-scroll {
    overflow: auto;
    // IE
    -ms-overflow-style: none;
    // Firefox
    scrollbar-width: none;
    // Chrome, Edge, Safari
    &::-webkit-scrollbar {
        display: none;
    }
}
