.drag-scroll {
    overflow: hidden;
    display: flex;

    &.scroll-native {
        overflow: auto;
    }

    .drag-scroll-wrapper {
        display: flex;
        perspective: 1000;
        backface-visibility: hidden;
        transform-style: preserve-3d;
        transform: translate3d(0, 0, 0);
        -webkit-tap-highlight-color: transparent;
        touch-action: pan-y;
        will-change: transform;
        cursor: pointer;

        img,
        a {
            user-select: none;
            -webkit-user-drag: none;
        }
    }
}
